// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-icons/font/bootstrap-icons.css';

.modal-container {
    padding: 10px;
}
.ad {
    z-index: 1001;
    color: red;
    top: 0;
    position: sticky;
}